{% extends 'layout.html.twig' %}

{% block content %}
    <div class="main-container">
        <h1>My accessories</h1>
        {% for accessory in accessories %}
            {{accessory.name}}
           <img style='max-width:10%' src='{{accessory.url}}' alt  {{accessory.name}}>
        {% endfor %}
     
    </div>
{% endblock %}
